body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
}

.main-container {
  width: 100%;         
  height: 91vh;            
  background-image: url('assets/main-image.png');  
  background-repeat: no-repeat;   
  background-position: center;   
  background-size: auto;          
  display: flex;
  flex-direction: column; 

}

.main-container .logo{ 
    width: 26%;
    height: 15vh; 
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}



.logo p{ 
    font-size: 15px;
    font-weight: 600;
    color: #4A2F29;
}

.main-navigating {
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;  
  align-items: center;     
  background-image: url('assets/main-navigation2.png');

}

.main-navigating button{
    width: 200px; 
    height: 35px;
    background-color: #4A2F29;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    animation: pulse 2s infinite;

}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.main-navigating button:hover{
    background-color: white;
    color: #4A2F29;
}